button{
    height:30px;
    width:500px;
    align-content: center;
    color:rgb(223, 13, 48);
    background-color: yellow;
    font-weight: 900px;
    font-size: large;
    border:5px solid black;
}
#tagline{
    color:white;
    background-color: rgb(231, 75, 127);
}